body {
    /* font-family: 'Work Sans', sans-serif !important;   */
    font-family: 'Sora', sans-serif;
    font-weight: 400;
}

.weight500 {
    font-weight: 500 !important;
}

input[type='number'] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.ReactModal__Overlay {
    overflow-y: auto !important;
}
